/*
Copyright © 2018–2019, Christopher Alan Mosher, Shelton, Connecticut, USA, <cmosher01@gmail.com>.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

html {
    position: relative;
    min-height: 100vh;
    height: 100vh;
    line-height: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: circle;
}

ol, ul, menu, dir {
    -webkit-padding-start: 0;/* reset chrome */
}

dd {
    -webkit-margin-start: 0; /* reset chrome */
}

pre {
    display: inline;
    margin: 0;
}

table {
  border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6, th {
    font-weight: normal;
}

hr {
    margin: 0;
}
